In [2]:
import sqlite3

In [3]:
con=sqlite3.connect('temperature.db')
current=con.cursor()

In [4]:
current.execute('create table Weather(id, recordDate date, temperature int);');
current.execute('INSERT INTO Weather(id, recordDate, temperature) VALUES (1, "2015-01-01", 10);')
current.execute('INSERT INTO Weather(id, recordDate, temperature) VALUES (2, "2015-01-02", 25);')
current.execute('INSERT INTO Weather(id, recordDate, temperature) VALUES (3, "2015-01-03", 20);')
current.execute('INSERT INTO Weather(id, recordDate, temperature) VALUES (4, "2015-01-04", 30);')

In [25]:
query = """
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON w1.recordDate = date(w2.recordDate, '+1 day')
WHERE w1.temperature > w2.temperature;
"""

In [26]:
current.execute(query)

In [27]:
data = current.fetchall()

In [28]:
for row in data:
    print(row[0])

2
4